<!-- 404 Page area Start-->


<div class="container">
  <div class="text-center">
    <div class="content-error">
      <h1>ERROR <span class="counter"> 404</span></h1>
      <p>Sorry, but the page you are looking for has note been found. Try checking the URL for the error, then hit the
        refresh button on your browser or try found something else in our app.</p>
      <a href="index.html">Dashboard</a>
      <a href="#">Report Problem</a>
    </div>
    <div class="text-center login-footer">
      <p>Copyright © 2018. All rights reserved. Created by IBRAHIM AHAMADA M'SA</p>
    </div>
  </div>
</div>
